<div>
  <nav class=" indigo darken-4" role="navigation">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Alle Devices</a>
      <ul id="nav-mobile" class="right">
        <li><a href=".#/alarm">Alarm</a></li>
        <li><a href=".#/weather">Wetter</a></li>
        <li><a href="http://openhabianpi:8082/homeauto">Homeautomation</a></li>
      </ul>
    </div>
  </nav>

  <div v-for="device in devices" class="container">

    <div class="row">
      <div class="col s12 m4 l4">

        <div id="profile-card" class="card" style="overflow: hidden;">
          <div class="card-image waves-effect waves-block waves-light">

            <img v-if="device.name =='Wohnzimmer Multisensor'" class="activator" src="../z_images/IMG_0957.png" alt="user bg">
            <img v-if="device.name =='Garagensensor'" class="activator" src="../z_images/garage.jpg" alt="no picture garage">
            <img v-if="device.name =='Multisensor Balkon'" class="activator" src="../z_images/multisensorBalkon.jpg" alt="no picture balkon">

          </div>
          <div class="card-content">

            <img src="../z_images/ic_donut_small_black_48dp.png" alt="" class="circle responsive-img activator card-profile-image green lighten-1 padding-2">
            <a class="btn-floating activator btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                                <i class="material-icons">add</i>
                            </a>

            <h6 class="card-title activator grey-text text-darken-4">
              {{device.name}}
            </h6>
            <div>

              <ul>

                <li v-for="item in device.items">

                  <p v-bind:title="item.name" style="margin-bottom: 0.5em">
                    <i v-if="item.Type =='temperature'" class="fas fa-thermometer-three-quarters" style="width: 2em;"></i>
                    <i v-if="item.Type === 'batterystate'" class="fas fa-battery-half" style="width: 2em;"></i>
                    <i v-if="item.Type === 'switch'" class="fas fa-adjust" style="width: 2em;"></i>
                    <i v-if="item.Type === 'relativehumidity'" class="fas fa-tint" style="width: 2em;"></i>
                    <i v-if="item.Type === 'alarm'" class="fas fa-bullhorn" style="width: 2em;"></i>
                    <i v-if="item.Type === 'luminance'" class="fas fa-sun" style="width: 2em;"></i>
                    <i v-if="item.Type === 'doorsensor'" class="fas fa-door-open" style="width: 2em;"></i>"

                    <span v-bind:id="item.jobID" style="margin-left:2em;">
                                                 <!--
                                                     ONLoad Event als Trigger
                                                 <img src="../assets/spinner.gif" v-bind:id="item.jobID" onload="lookForTheJob(this.id)">
                                                 -->
                                               
                                                 <img src="../z_images/spinner.gif" v-bind:id="item.jobID" >
                                            </span>
                    <span v-if="item.Type === 'switch'"></span>
                    <span v-if="item.Type === 'batterystate'">%</span>
                    <span v-if="item.Type === 'temperature'">°</span>
                    <span v-if="item.Type === 'relativehumidity'">%</span>
                    <span v-if="item.Type === 'luminance'">%</span>
                    <span v-if="item.Type === 'doorsensor'"></span>
                  </p>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 l4">
      <p>Letzte Aktualisierung: </p>
      <p id="timestamp"></p>
    </div>
  </div>
</div>