<div>
  <nav class=" indigo darken-4" role="navigation">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Homeautomation</a>
      <ul id="nav-mobile" class="right">
        <li><a href=".#/devices">Devices</a></li>
        <li><a href=".#/weather">Wetter</a></li>
      </ul>
    </div>
  </nav>
  <div class="container" style="width:100%; ">
    <div class="row">
<p>Homeauto Internet</p>
Status
    </div>
    <div class="row">
      <div class="col s12">


        <iframe src="http://openhabianpi:8082/homeauto" style="min-height:100em;width:100%;" frameborder="0" seamless></iframe>

      </div>
    </div>
  </div>
</div>
