<div>
  <nav class=" indigo darken-4" role="navigation">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Wetter</a>
      <ul id="nav-mobile" class="right">
        <li><a href=".#/devices">Devices</a></li>
        <li><a href=".#/alarm">Alarm</a></li>
        <li><a href="http://openhabianpi:8082/homeauto">Homeautomation</a></li>
      </ul>
    </div>
  </nav>
  <div class="container" style="width:100%; ">
    <div class="row">
      <div class="col s12">
        <div style="text-align:center;padding:1em;">
          <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=de&size=large&timezone=Europe%2FBerlin" width="100%" height="120" frameborder="0" seamless></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m2 l2">
        <!-- Promo Content 1 goes here -->
        <div class="card #e8eaf6 indigo lighten-5">
          <div class="card-content black-text">
            <span class="card-title" style="font-weight:bold;"><i class="fas fa-home"></i></span>
            <h5>
              <i class="fas fa-thermometer-three-quarters" style="width:1.5em;"> </i>
              <span id="ZWaveNode3ZW0744InOneMultiSensorG5_SensorTemperature_3"> --</span>
            </h5>
            <h5>
              <i class="fas fa-tint" style="width:1.5em;"></i>
              <span id="ZWaveNode3ZW0744InOneMultiSensorG5_SensorRelativeHumidity">--</span>
            </h5>
            <h5>
              <i class="fas fa-sun" style="width:1.5em;"></i>
              <span id="ZWaveNode3ZW0744InOneMultiSensorG5_SensorLuminance"> --</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="col s12 m2 l2">
        <!-- Promo Content 1 goes here -->
        <div class="card #e8eaf6 indigo lighten-5">
          <div class="card-content black-text">
            <span class="card-title" style="font-weight:bold;"><i class="fas fa-cloud-sun"></i></span>
            <h5>
              <i class="fas fa-thermometer-three-quarters" style="width:1.5em;"> </i>
              <span id="MultisensorBalkon_SensorTemperature"> --</span>
            </h5>
            <h5>
              <i class="fas fa-tint" style="width:1.5em;"></i>
              <span id="MultisensorBalkon_SensorRelativeHumidity">--</span>
            </h5>
            <h5>
              <i class="fas fa-sun" style="width:1.5em;"></i>
              <span id="MultisensorBalkon_SensorLuminance"> --</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="col s12 m2 l2">
        <!-- Promo Content 1 goes here -->
        <div class="card #e8eaf6 indigo lighten-5">
          <div class="card-content black-text">
            <span class="card-title" style="font-weight:bold;">Ahaus</span>
            <h5>
              <i class="fas fa-thermometer-three-quarters" style="width:1.5em;"> </i>
              <span id="weatherAtAhausTemp"> --</span>
            </h5>
            <h5>
              <i class="fas fa-male" style="width:0.4em;"></i> <i class="fas fa-thermometer-empty" style="width:0.4em;margin-right:0.4em"></i>
              <span id="wetherAtAhausFeelsLike">--</span>
            </h5>
            <h5>
              <i class="fas fa-tint" style="width:1.5em;"></i>
              <span id="weatherAtAhausHumidity">--</span>
            </h5>
            <h5>
              <i class="fas fa-tachometer-alt" style="width: 1.5em;"></i>
              <span id="weatherAtAhausPressure">--</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <!-- Promo Content 1 goes here -->
        <div class="card #e8eaf6 indigo lighten-5">
          <div class="card-content black-text">
            <span class="card-title" style="font-weight:bold;">Wetter</span>
            <img id="weatherAtAhausIcon" style="width:5em;" />
            <h5>
              <span class="truncate" id="weatherAtAhausCaption">--</span>
            </h5>
            <h5>
              <i class="fas fa-wind"></i>
              <span id="weatherAtAhausWindSpeed">--</span>
              <i id="weatherAtAhausArrow" class="fas fa-location-arrow"></i>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <table>
          <tr>
            <td>
              <h5>
                <i class="fas fa-long-arrow-alt-up"></i>
                <i class="fas fa-sun"></i>
                <span id="sunrise">--</span>
              </h5>
            </td>
            <td>
              <h5>
                <i class="fas fa-long-arrow-alt-down"></i>
                <i class="fas fa-sun"></i>
                <span id="sunset">--</span>
              </h5>
            </td>
          </tr>
        </table>
      </div>

    </div>
    <div class="row">
      <div class="col s12 m12 l12">
        <ul id="forecastCollection" class="collection with-header">
          <li class="collection-header">
            <h4>First j Names</h4>
          </li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="firebaseui-auth-container"></div>
</div>