<div>
  <nav class=" indigo darken-4" role="navigation">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Alarm</a>
      <ul id="nav-mobile" class="right">
        <li><a href=".#/devices">Devices</a></li>
        <li><a href=".#/weather">Wetter</a></li>
        <li><a href="http://openhabianpi:8082/homeauto">Homeautomation</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div v-if="alarmActivated==true">
          <table>
            <tr>
              <td style="padding-top: 0.5em">
                <i class="large material-icons green-text" v-on:click="deactivatAlarm">toggle_on</i>
              </td>
              <td>
                <h2> Alarm ist aktiviert</h2>
              </td>
            </tr>
          </table>


        </div>
        <div v-else-if="alarmActivated==false">
          <table>
            <tr>
              <td style="padding-top: 0.5em">
                <i class="large material-icons gray-text" v-on:click="activatAlarm">toggle_off</i>
              </td>
              <td>
                <h2> Alarm ist deaktiviert</h2>
              </td>
            </tr>
          </table>
        </div>
        <div v-else>
          <table>
            <tr>
              <td style="padding-top: 0.5em">
                <img style="width: 48px;" src="../z_images/spinner.gif">
              </td>
              <td>
                <h2>Daten werden ermittelt</h2>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>